[FORMAT]
# Maximum line length (Codacy default is 100, project standard is 120)
max-line-length=120

[MESSAGES CONTROL]
# Disable line-too-long warnings since we handle this with max-line-length
disable=line-too-long
